$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-star: "\e900";
$icon-tag: "\e901";
$icon-date: "\e902";
$icon-location: "\e903";
$icon-heart: "\e904";
$icon-download: "\e905";
$icon-share: "\e906";

