// Fonts
$primary-font: 'Montserrat', sans-serif;

// General Color
$text-color: #7c8993;
$primary-color: #424a55;
$secondary-color: #017fd5;
$ternary-color: #FF5530;
$success-color: #11d16f;
$border-color: #EBEBEB;

// Icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-star: "\e900";
$icon-tag: "\e901";
$icon-date: "\e902";
$icon-location: "\e903";
$icon-heart: "\e904";
$icon-download: "\e905";
$icon-share: "\e906";
